# CMake
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
install_manifest.txt

# Ninja
.ninja_deps
.ninja_log
build.ninja

# Build outputs
*.a
*.dll
*.dylib
*.exe
*.o
*.so
*.so.*
*.debug

# Editor and OS noise
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
